server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/mariks1/UniPeople-config
          default-label: main
          clone-on-start: true
          force-pull: true
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
